@page "{id}"
@using Core.Convertors;
@model coreadvanced.Pages.Admin.Users.DeleteuserModel
@{
    ViewData["Title"] = "Deleteuser";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            حذف کاربر
        </div>
        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="Userid" value="@ViewData["Userid"].ToString()" />
                <dl class="dl-horizontal">
                    <dt>نام کاربری :</dt>
                    <dd>@Model.informationViewModel.UserName</dd>
                    <dt>ایمیل :</dt>
                    <dd>@Model.informationViewModel.Email</dd>
                    <dt>موجودی کیف پول :</dt>
                    <dd>@Model.informationViewModel.Wallet</dd>
                    <dt>تاریخ عضویت :</dt>
                    <dd>@Model.informationViewModel.Registerdate.toshamsi()</dd>

                    <dt></dt>
                    <dd>
                        <input type="submit" value="حذف" class="btn btn-danger" />
                    </dd>


                </dl>

            </form>
        </div>

    </div>
</div>

